# Core
streamlit==1.26.0
pandas==2.1.0
numpy==1.27.0

# Visualization
matplotlib==3.8.0
seaborn==0.12.2
plotly==6.1.0

# Optional / Future-proof
altair==5.0.1
pydeck==0.8.0
scipy==1.12.0

# For data validation & utils
openpyxl==3.2.2       # If reading Excel files in future
xlrd==2.0.1           # If reading old Excel formats
