# Core
streamlit==1.26.0
pandas==2.1.0
numpy==1.26.4

# Visualization
matplotlib==3.7.2
seaborn==0.12.2
plotly==6.1.0

# Optional / Future-proof
altair==5.0.1
pydeck==0.8.0
scipy==1.11.1

# For data validation & utils
openpyxl==3.1.2   # Compatible with Python 3.10
xlrd==2.0.1
